@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.btn-buscador {
  cursor: pointer;
}

.menuMobile {
  font-weight: 500;
}

.logo span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
