@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@font-face {
  font-family: "Maghody";
  src: url("/Fonts/Maghody.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Maxigo";
  src: url("/Fonts/Maxigo-RpW.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HarryPotter";
  src: url("/Fonts/HARRYPOTTER.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "StarWars";
  src: url("/Fonts/StarWars.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DragonBallZ";
  src: url("/Fonts/Saiyan-Sans.ttf") format("truetype");
}

@font-face {
  font-family: "LooneyTunes";
  src: url("/Fonts/LooneyTunes.ttf") format("truetype");
}

@font-face {
  font-family: "RickandMorty";
  src: url("/Fonts/RickandMorty.ttf") format("truetype");
}

.btn-buscador,
.btn_mb {
  cursor: pointer;
}

.menuMobile {
  font-weight: 500;
}

.logo span {
  font-family: Maghody, "Courier New", Courier, monospace;
  font-size: 20px;
}

.font-harrypotter {
  font-family: HarryPotter, serif;
  font-size: 30px;
}

.font-starwars {
  font-family: "StarWars", sans-serif;
}

.font-dragonBallZ {
  font-family: "DragonBallZ", sans-serif;
  font-size: 30px;
}

.font-LonneyTunes {
  font-family: "LooneyTunes", sans-serif;
}

.font-RickandMorty {
  font-family: "RickandMorty", sans-serif;
}
