@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

@font-face {
  font-family: "Maghody";
  src: url("/public/Fonts/Maghody.ttf") format(".ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Maxigo";
  src: url("/public/Fonts/Maxigo-RpW.ttf") format(".ttf");
  font-weight: 300;
  font-style: normal;
}

.btn-buscador,
.btn_mb {
  cursor: pointer;
}

.menuMobile {
  font-weight: 500;
}

.logo span {
  font-family: Maghody, "Courier New", Courier, monospace;
  font-size: 20px;
}
